body {
  margin: 0;
  padding: 0;
  background: #edf2f8;
  font-size: 13px;
  font-family: "Manrope";
}

a {
  text-decoration: none;
}

main {
  background: white;
  width: 90%;
  border-radius: 10px;
  margin: 15% auto;
  overflow: hidden;
}
main .main-img {
  width: 100%;
  height: 200px;
}
main .main-img figure {
  margin: 0;
  height: 200px;
}
main .main-img img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 220px, 0 220px);
}
